@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");

:root{
    --color-link-active: #282828;
    --color-text: #282828;
    --color-text-light-grey: #999999;
    --color-film: #008a93;
    --color-stage: #937100;
    --color-music: #930045;
    --color-hero-dark: #008a93;
    --color-hero-light: #d6a500;
    --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

body{
    margin: 0;
    font-family:"Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);;
    text-align: left;
    background-color: #fff
}

h2, .h2 {
    font-size: 2.5rem;
}

h4, .h4 {
    font-size: 1.40625rem;
}

a {
    color: var(--color-text);
}

a:hover {
    color: black;
}

a:active {
    color: var(--color-text)!important;
}

.hero {
    color: #fff;
    background: linear-gradient(120deg, var(--color-hero-dark) 20%, var(--color-hero-light) 90%);
    padding: 70px 10px 10px 10px;
    min-height: 315px;  /* for page reloading */
    /** text-align: center; **/
}

.content {
    min-height: 500px;
}
/** program setup settings **/

.program-settings {
    padding: 70px 0px 20px 0px;
}

.program-setting {
    text-align:center;
    font-size: 1.1rem;
    margin-top: 5px;
    margin-bottom: 5px
}

/* time span setup */

.time-span {
    min-width: 160px;
}

.program-setting .nav-link{
    padding: 0.3rem 0.3rem;
}

.program-setting .dropdown-menu {
    font-size: 1.1rem;
}

.program-setting .dropdown {
    margin-left: auto;
    margin-right: auto;
}


.program-setting .dropdown .dropdown-toggle[aria-expanded="true"] {
    background: var(--color-text-light-grey);
}


.program-setting .dropdown-item:hover{
    background: var(--color-text-light-grey);
    color: #fff;
}

/* category buttons (general) */

.program-setting.category .btn{
    letter-spacing: 0.15rem;
    padding: 0.25rem 0.25rem;
    font-size: 1.1rem;
}

/* category buttons (on) */

.program-setting.category .btn-primary.film{
    background-color: var(--color-film);
    border-color: var(--color-film);
}

.program-setting.category .btn-primary.stage{
    background-color: var(--color-stage);
    border-color: var(--color-stage);
}

.program-setting.category .btn-primary.music{
    background-color: var(--color-music);
    border-color: var(--color-music);
}

.program-setting.category .btn-primary:hover{
    filter: brightness(150%);
}

/* category buttons (off) */

.program-setting.category .btn-outline-primary.film{
    color: var(--color-film);
    border-color: var(--color-film);
}

.program-setting.category .btn-outline-primary.film:hover{
    background-color: var(--color-film);
    border-color: var(--color-film);
    color: #fff;
}

.program-setting.category .btn-outline-primary.stage{
    color: var(--color-stage);
    border-color: var(--color-stage);
}

.program-setting.category .btn-outline-primary.stage:hover{
    background-color: var(--color-stage);
    border-color: var(--color-stage);
    color: #fff;
}


.program-setting.category .btn-outline-primary.music{
    color: var(--color-music);
    border-color: var(--color-music);
}

.program-setting.category .btn-outline-primary.music:hover{
    background-color: var(--color-music);
    border-color: var(--color-music);
    color: #fff;
}


/* dubbed switch */

.dubbed {
    min-width: 210px;
}

/* text of switch */
.dubbed-switch .custom-control-label{
    color: var(--color-text-light-grey);
    padding-right: 0.3rem;
}

.dubbed-switch .custom-control-label:active{
    color: var(--color-link-active);
}

.dubbed-switch .dubbed-on{
    color: var(--color-text);
}


/* color knob on hover */
.dubbed-switch .custom-control-input:checked:hover ~ .custom-control-label::after,
.dubbed-switch .custom-control-input:hover ~ .custom-control-label::after {
  background-color: var(--color-text);
}
/* color knob on click */
.dubbed-switch .custom-control-input:checked:active ~ .custom-control-label::after,
.dubbed-switch .custom-control-input:active ~ .custom-control-label::after {
  background-color: var(--color-text);
  border-color: var(--color-text);
}
.dubbed-switch .custom-control-input:active ~ .custom-control-label::before {
  background-color: #FFFFFF;
}
/* fill after clicking */
.dubbed-switch .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--color-hero-dark);
  border-color: var(--color-hero-dark);
}

/* knob after clicking */
.dubbed-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: var(--color-link-active);
  border: var(--color-link-active);
}

/** show list **/

.show-list .show{
    padding: 15px 0px;
    max-width: 800px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.show-list h2{
    padding: 15px 10px 0px 0px;
}

/** show time **/

.show-list .show .time{
    font-weight: bold;
    margin-right: 10px;
    min-width: 50px
}

/** show location **/

.show-list .show .location{
    margin-right: 5px;
    text-transform: uppercase;
}
.show .location mark:hover{
   filter: brightness(150%);
}

.show .location a:hover{
    text-decoration: none;
}


.show-list .show .location.film mark{
    background-color: var(--color-film);
    color: #fff;
}

.show-list .show .location.stage mark{
    background-color: var(--color-stage);
    color: #fff;
}

.show-list .show .location.music mark{
    background-color: var(--color-music);
    color: #fff;
}

/** show title **/

.show-list .show .title{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1.5em;
}

.show-list .show .title a.film{
    color: var(--color-film);
}

.show-list .show .title a.stage{
    color: var(--color-stage);
}

.show-list .show .title a.music{
    color: var(--color-music);
}

.show-list .show .title a:hover {
    filter: brightness(150%);
}

/** show description **/

.description {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    margin-top: 2px;
}

.description .toggle-content {
    border: none;
    background-color: inherit;
    text-decoration: underline;
    font-style: italic;
    color: var(--color-text);
    padding: 0;
}


footer {
    margin-top: 50px;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;
    background: linear-gradient(120deg,  var(--color-hero-light) 10%, var(--color-hero-dark) 80%);
}
