:root{
    --color-link-hover: #B1B67D;
    --color-link-active: #282828;
    --color-text: #282828;
    --color-text-light-grey: #999999;
    --color-film: #284E9F;
    --color-stage: #9E288A;
    --color-music: #715D20;
    --color-navbar: #6EB1B9;
    --color-hero: #59AABE;
}

body {
    color: var(--color-text);
}

a {
    color: var(--color-text);
}

a:hover {
    color: var(--color-link-hover);
}

a:active {
    color: var(--color-text)!important;
}

.navbar-custom {
    background-color: var(--color-navbar);
    padding: 10px 30px;
}

.hero {
    background-color: var(--color-hero);
    color: #fff;
    padding: 30px 10px;
    text-align: center;
}

/** program setup settings **/

.program-settings {
    padding: 25px 10px 0px 0px;
}

.program-setting {
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px
}

.program-setting .dropdown {
    margin-left: auto;
    margin-right: auto;
}


.program-setting .dropdown .dropdown-toggle[aria-expanded="true"] {
    background: var(--color-link-hover);
}


.program-setting .dropdown-item:hover{
    background: var(--color-link-hover);
}

.program-setting.category .btn-primary.film{
    background-color: var(--color-film);
    border-color: var(--color-film);
}

.program-setting.category .btn-primary.stage{
    background-color: var(--color-stage);
    border-color: var(--color-stage);
}

.program-setting.category .btn-primary.music{
    background-color: var(--color-music);
    border-color: var(--color-music);
}

.program-setting.category .btn-primary:hover{
    background-color: var(--color-link-hover);
    border-color: var(--color-link-hover);
}

.program-setting.category .btn-outline-primary.film{
    color: var(--color-film);
    border-color-color: var(--color-film);
}

.program-setting.category .btn-outline-primary.stage{
    color: var(--color-stage);
    border-color: var(--color-stage);
}

.program-setting.category .btn-outline-primary.music{
    color: var(--color-music);
    border-color: var(--color-music);
}

.program-setting.category .btn-outline-primary:hover{
    color: var(--color-link-hover);
    border-color: var(--color-link-hover);
    background-color: #fff;
}

/* text of switch */
.program-setting .custom-control-label{
    color: var(--color-text-light-grey);
}

.program-setting .custom-control-label:hover{
    color: var(--color-link-hover);
}

.program-setting .custom-control-label:active{
    color: var(--color-link-active);
}

/* color knob on hover */
.program-setting .custom-control-input:checked:hover ~ .custom-control-label::after,
.program-setting .custom-control-input:hover ~ .custom-control-label::after {
  background-color: var(--color-link-hover);
}
/* color knob on click */
.program-setting .custom-control-input:checked:active ~ .custom-control-label::after,
.program-setting .custom-control-input:active ~ .custom-control-label::after {
  background-color: var(--color-link-active);
  border-color: var(--color-link-active);
}
.program-setting .custom-control-input:active ~ .custom-control-label::before {
  background-color: #FFFFFF;
}
/* fill after clicking */
.program-setting .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--color-text-light-grey);
  border-color: var(--color-text-light-grey);
}

/* knob after clicking */
.program-setting .custom-control-input:checked ~ .custom-control-label::after {
  background-color: var(--color-link-active);
  border: var(--color-link-active);
}

/** show list **/

.show-list .show{
    padding: 5px;
    max-width: 800px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.show-list h2{
    padding: 15px 10px 0px 0px;
}

/** show time **/

.show-list .show .time{
    font-weight: bold;
    margin-right: 10px;
    min-width: 50px
}

/** show location **/

.show-list .show .location{
    margin-right: 5px;
}

.show-list .show .location.film mark{
    background-color: var(--color-film);
    color: #fff;
}

.show-list .show .location.stage mark{
    background-color: var(--color-stage);
    color: #fff;
}

.show-list .show .location.music mark{
    background-color: var(--color-music);
    color: #fff;
}

/** show title **/

.show-list .show .title{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1.5em;
}

.show-list .show .title a.film{
    color: var(--color-film);
}

.show-list .show .title a.stage{
    color: var(--color-stage);
}

.show-list .show .title a.music{
    color: var(--color-music);
}

.show-list .show .title a:hover {
    color: var(--color-link-hover);
}

/** show description **/

.show-list .show .desc {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    margin-top: 2px;
}



footer {
    margin-top: 50px;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: white;
    background-color: var(--color-navbar);
}
